/* Add some basic styling if needed */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  
}

#mealList {
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add interactive styles */
button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

/* Add box shadow on meal containers when hovered */
#mealList div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
